/**
 * colors
*/
$title-color: #212121;
$title-color-alt: #454545;

$text-color: #787878;
$text-color-alt: #545454;

$primary: #ff8f9c;
$primary-dark: #ff6666;

$green: #46c389;
$yellow: #f6a355;

$white: #ffffff;
$black: #000;

$border-color: #ededed;
$gray: #999999;

/**
 * typography
*/

$fs-30: 1.875rem;
$fs-25: 1.563rem;
$fs-22: 1.375rem;
$fs-20: 1.25rem;
$fs-18: 1.125rem;
$fs-16: 1rem;
$fs-15: 0.938rem;
$fs-14: 0.875rem;
$fs-13: 0.813rem;
$fs-12: 0.75rem;
$fs-11: 0.688rem;
$fs-10: 0.625rem;

$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

/**
 * border-radius
*/

$br-md: 10px;
$br-sm: 5px;

/**
 * transition 
*/

$transition: 0.2s;

/**
 * box-shadow 
*/

$shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
